.login-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.outer-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #D9DCE0 solid;
  padding: 8rem 6rem;
  border-radius: 8px;
}


.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
