.profile-dropdown {
    position: absolute;
    border: 1px solid #ddd;
    padding: 10px 10px;
    transform: translateX(-180px);
    border-radius: 20px;
    z-index: 1;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    line-height: 4vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logged-out-sign-in-button {
  background-color: rgba(221, 221, 221, 0);
  font-family: 'Lato', sans-serif;
  font-weight: 600px;
  padding: 10px 10px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #085ED4;
  border: .5px solid #085ED4;
  cursor: pointer;
}


.logged-out-sign-in-button:hover {
  background-color: #DEF0FE;
}


#user-nav-pfp {
  cursor: pointer;
}

.logged-out-sign-in-button:active {
  background-color: #C8D8E4;
}

.hidden {
  display: none;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  /* position: sticky; */
  /* top: 0; */
  /* background-color: white;
  z-index: 1; */
}


.create-video-nav-button {
  display: flex;
  align-items: center;
  gap: 7px;
  background: none;
  border: 1px solid #E5E5E5;
  font-family: 'Lato', sans-serif;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}


.create-video-nav-button:hover {
  background-color: #E5E5E5;
}


.signed-in-nav-profile-and-create {
  display: flex;
  gap: 20px;
}
