.all-videos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 6px;
    width: 85%;
}

.home-page-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-top: 1px solid #ff66c22a;
}

.home-side-bar-socials {
    margin-right: 2rem;
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15%;
}

.user-videos-link {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0
}


.home-social-media-icons {
    display: flex;
    gap: 10px;
}


.github-icon-wrapper {
    display: flex;
}


.github-icon-wrapper:hover {
    background-color: rgb(101, 194, 255);
    border-radius: 8px;
    padding-left: 5px;
}

.github-a-tag {
 display: flex;
gap: 10px;

}


#github-logo {
    align-self: center;
}

.target-your-videos {
    color: #1570F1;
}