.below-vid-above-comments-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.video-page-wrapper {
    margin-left: 4.5rem;
    display: flex;
    padding-bottom: 10rem;
}

/* .individual-comment-container .comment-delete-and-edit {
    position: absolute;
    display: none;
} */


/* .individual-comment-container:hover .comment-delete-and-edit {
    display: flex;
    justify-content: flex-end;
} */


.comments-number-header {
    display: flex;
    align-items: center;
    gap: 5px;
}


.comment-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video-page-comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}


.individual-comment-container {
    display: flex;
    gap: 1rem;
}

.comment-bottom-section-user-and-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.video-description-container {
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: .8rem 0;
    display: flex;
}

.video-description-container > p {
    margin-left: 1rem;
}

.leave-comment-pfp-and-input {
    display: flex;
    width: 100%;
}


.video-description-container:hover {
    background-color: #E5E5E5;
}

.comment-form {
    width: 96%;
}


.video-page-comment-section-container {
    margin-top: 1rem;
}

.comment-input {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin-left: 1rem;
    outline: none;
    width: 96%;
    font-family: 'Lato', sans-serif;
}

.leave-comment-button-container {
    display: flex;
    justify-content: flex-end;
}

.leave-comment-button-container > button {
    border: none;
    background-color: #0A5ED4;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 18px;
    cursor: pointer;
}

.video-owner-pic-and-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-pfp-subscribe-container {
    display: flex;
    align-items: center;
}

.leave-comment-button-container > button:hover {
    background-color: #0356BE;
}


.leave-comment-button-container > button:active {
background-color: #3F78CC;
}




.comment-user-name {
    font-weight: 700;
}



.video-page-comment-user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
